data/*
env/*
./env/*
sdf_latent_codes/all_ws_no_reg_contrastive0.1/*
wandb/*
results/*
!results/render/
test_data/Real/ckpts
test_data/Real/captured
test_data/sdf_rgb_pretrained
test_data/ckpts.tar.xz
test_data/sdf_rgb_pretrained.tar.xz
test_data/test_subset.tar.xz
ckpts/*
main/checkpoints/*
/main_hist
/main_myapi
/cache_dir
